#  AMBIENTE VIRTUAL E DEPENDÊNCIAS

venv/
env/
.venv/
Scripts/
Include/
Lib/
.vscode/
logs/


#  VARIÁVEIS DE AMBIENTE E SEGURANÇA (CRÍTICO)

.env
.env.local
.env.*
*.pem
secrets.json


#  CACHE DO PYTHON E COMPILAÇÕES

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg


#  BANCO DE DADOS LOCAL E ARQUIVOS DE MÍDIA

db.sqlite3
db.sqlite3-journal
media/


# LOGS E TESTES

*.log
.pytest_cache/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
nosetests.xml
coverage.xml


#  CONFIGURAÇÕES DE IDE E SISTEMA OPERACIONAL

.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db